.video-frame {
    position: relative;
    position: fixed;
    top: 3%;
    left: 10%;
    margin-top: 1.5%;
    width: 99.9%;
    z-index: 10001;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-modal {
    position: relative;
}

.movie-modal span {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 99.9%;
    height: 100vh;
    z-index: 1000;
    background-color: #000000b4;
    -webkit-backdrop-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.playmovie-btn {
    position: absolute;
    width: 150px;
    z-index: 1001;
}