.video-frame {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 3.5%;
    width: 99.9%;
    z-index: 10001;
}

.movie-modal span {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 99.9%;
    height: 100vh;
    z-index: 1000;
    background-color: #000000b4;
    -webkit-backdrop-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    backdrop-filter: blur(20px);
}