.App {
  text-align: center;
}

.hero-info {
  position: absolute;
  margin: 25% 5%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1440px) {
  .hero-info {
    margin: 25% 2%;
  }
}

@media (max-width: 800px) {
  .hero-info {
    margin: 38% 8%;
  }
}

.hero {
  position: relative;
  margin-top: 115px;
  object-fit: cover;
  background-position: top;
  width: 70%;
  height: 750px;
  border-radius: 8px;
  z-index: 300;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  filter: brightness(85%);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.534);
}

@media (max-width: 1440px) {
  .hero {
    margin-top: 100px;
    height: 650px;
    width: 86%;
  }
}

@media (max-width: 800px) {
  .hero {
    margin-top: 120px;
    height: 480px;
    width: 86%;
  }
}

@media (max-width: 500px) {
  .hero {
    margin-top: 120px;
    height: 300px;
    width: 86%;
    margin-bottom: 0px;
  }
}

.hero:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.01);
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.308);
}

.hero-data {
  font-size: 1rem;
  text-align: left;
  color: white;
  z-index: 800;
  width: 340px;
  letter-spacing: 2px;
}

.release-date {
  text-align: left;
  color: white;
  z-index: 800;
  margin-top: 0;
  text-transform: uppercase;
}

.hero-title {
  margin-top: 0;
  color: white;
  font-size: 5rem;
  text-align: left;
  margin-bottom: 0;
  z-index: 500;
  user-select: none;
}

@media (max-width: 800px) {
  .hero-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .hero-title {
    font-size: 1.2rem;
  }
}

.hero-overview {
  width: 75%;
  font-size: 1.3rem;
  text-align: left;
  color: white;
  line-height: 30px;
  z-index: 500;
  user-select: none;
}

@media (max-width: 800px) {
  .hero-overview {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .hero-overview {
    font-size: 0.8rem;
  }

  .release-date {
    font-size: 0.8rem;
  }
}

.hero-btn {
  width: 250px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  border: 3px solid rgb(91, 45, 218);
  background-color: rgb(86, 34, 184);
  color: white;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  z-index: 500;
  outline: none;
}

@media (max-width: 1440px) {
  .hero-btn {
    width: 250px;
  }
}

@media (max-width: 800px) {
  .hero-btn {
    padding: 10px;
    width: 200px;
    background-color: rgb(86, 34, 184);
  }
}

@media (max-width: 500px) {
  .hero-btn {
    margin: 50px auto;
    margin-right: 85px;
    font-size: 0.6rem;
    padding: 10px;
    width: 200px;
    background-color: rgb(86, 34, 184);
  }
}

.hero-btn:hover {
  background-color: rgb(86, 34, 184);
  transition: 0.3s ease-in-out;
  filter: brightness(120%);
}

.hero-btn i {
  color: white;
  font-size: 0.8rem;
  padding-right: 10px;
}

@media (max-width: 500px) {
  .hero-btn i {
    font-size: 0.6rem;
  }
}

.browse {
  width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

.browse img {
  width: auto;
  height: 80vh;
  border-radius: 8px;
  box-shadow: 30px 30px 50px black;
}

.trending-title {
  display: flex;
  align-items: center;
  width: 50%;
  user-select: none;
}

@media (max-width: 800px) {
  .trending-title {
    width: 80%;
  }
}

.trending-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-top: 97px;
  border-bottom: 2px solid rgba(87, 34, 184, 0.397);
  margin-bottom: 3%;
  width: 90%;
}

@media (max-width: 500px) {
  .trending-bar {
    justify-content: left;
  }
}

.trending-bar h1 {
  font-size: 3rem;
  text-transform: capitalize;
  color: rgb(86, 34, 184);
}

@media (max-width: 500px) {
  .trending-bar h1 {
    width: 80%;
    font-size: 1rem;
    text-align: left;
  }
}

.icon {
  color: rgb(86, 34, 184);
  font-size: 3rem;
  margin-left: 10px;
}

@media (max-width: 500px) {
  .icon {
    width: 80%;
    font-size: 1rem;
    margin-left: 0;
    text-align: left;
  }
}

.hero-background {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 1090px;
  opacity: 0.4;
  filter: blur(30px);
}

@media (max-width: 1440px) {
  .hero-background {
    height: 975px;
  }
}

@media (max-width: 800px) {
  .hero-background {
    height: 700px;
  }
}

.page-btn {
  width: 250px;
  padding: 20px 0px;
  border: none;
  border-radius: 5px;
  background-color: rgb(86, 34, 184);
  color: white;
  letter-spacing: 3px;
  margin-right: 20px;
  margin-bottom: 100px;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease-in-out;
}

@media (max-width: 500px) {
  .page-btn {
    padding: 10px 0px;
    width: 180px;
    margin-bottom: 10px;
  }

  .page-buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.page-btn:hover {
  transition: 0.3s ease-in-out;
  filter: brightness(120%);
}

.page-btn:disabled,
.page-btn[disabled] {
  background: none;
  border: 1px solid rgb(86, 34, 184);
  color: rgb(86, 34, 184);
}

@media (max-width: 1440px) {
  .sub-hero {
    position: relative;
    top: 0;
    left: 0;
    height: 50vh;
  }

  .page-buttons {
    position: relative;
    top: 0;
    left: 0;
  }
}
