html ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: rgb(5, 5, 5);
}

html ::-webkit-scrollbar-thumb {
  background: rgb(86, 34, 184);
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(10, 10, 10);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}
